
/* Your CSS Code here. */
 table {
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
			margin:2%;
			padding:auto;
			overflow:hidden;
            
        }
        .black-cell {
			text-align:center;
            background-color: black;
            color: white;
        }

}